@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');

*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter, Monserrat;
}

/* HEADER */
header{
    height: 96px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    font-size: 30px;
    font-weight: 400;
}

p{
    margin-left: 20px;
}

/* MAIN PART */

.main{
    height: 450px;
}


.addCounter{
    display:flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 82px;
    }

.addCounter > button{
    width: 250px;
    height: 70px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: 600;
    background: #5C48D3;
}

.addCounter > button:hover ,.signs:hover,.resetButton:hover{
    cursor: pointer;
}

.counter{
    /* border: solid 1px black; */
    
    margin: auto;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.buttons{
    /* border:black solid 1px; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reset{
    /* border:black solid 1px; */
    display: flex;
    align-items: center;
    /* justify-content: end; */
}

.signs{
    width: 60px;
    height: 60px;
    font-size: 50;
    border:none;
    background: white
}

.count, .resetButton{   
    background: #5C48D3;
    border:none;
    border-radius: 15px;
    color:white;  
}

.count{
    width: 150px;
    height: 150px;
    font-size: 96px;
    font-weight: 400;
}

.resetButton{  
    /* margin: 0 auto; */
    width: 150px;
    height: 60px;
    font-size: 32px;
    font-weight: 600;
}

/* FOOTER */

footer{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: center;
    padding-top:30px;
  }